*{
    box-sizing: border-box;
}

body{
    background-color: #a7afbb;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 0;
    min-height: 100vh;
    
}
quiz-container{
    background-color: white;
    width: 400px;
    border-radius: 10px;
    box-shadow: 0 0 10px 7px rgba(0,0,0,0.5);
    overflow: hidden;
    width: 600px;
    max-width: 100%;
}

.quiz-header{
    padding: 2rem;
}

ul{
    list-style: none;
}
button{
    background-color:blueviolet;
    border: none;
    color:white;
    display: block;
    font-family: inherit;
    font-size: 1.5rem;
    width: 100%;
    padding: 2rem;
}